{% extends 'base.html' %}

{% block content %}

        <div class="row">
            <div class="col-md-12 col-lg-9">
                <form data-url="{% url 'calculateGrocery' %}" id="formCalculation">
                    {% csrf_token %}

                    <!-- Form Name -->
                    <legend><center><h2><b>Welcome to Calculator</b></h2></center></legend><br>

                  <div id="container">
                      
                      <div class="alert alert-success message mt-2" role="alert" style="display: none">
                      </div>
                      <div class="alert alert-warning message-warning mt-2" role="alert" style="display: none">
                      </div>
                      <div class="form-row">
                            <div class="form-group col-5 col-sm-5 col-md-5">
                              <input type="text" class="form-control name" name="name[]" placeholder="Name">
                            </div>
                            <div class="form-group col-5 col-sm-5 col-md-5">
                              <input type="text" class="form-control amount"  name="amount[]" placeholder="Amount">
                            </div>
                      </div>
                      

                  </div>
                  <button type="button" class="btn btn-primary" id="calcButton">Calculate</button>
                </form>
            </div>
	    </div>

    </div>
<!-- End Page Content -->
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            //variables
            let maxRows = 5;
            let count = 3;
        

            //remove rows
            $(document).on('click', '#removeUser', function () {
                $(this).parent().parent('div').remove();
                count--;
            });

            //amount validation
            $(document).on('change', '.amount',function () {
                  let amount = $(this).val();
                  $.ajax({
                      type: 'POST',
                      url: '{% url "validate_amount" %}',
                      data: {'amount': amount, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                      dataType: 'json',
                      success: function (response) {
                          if(response.type) {
                              $(".message-warning").html(response.message).fadeIn().delay(3000).fadeOut();
                              $(".message-warning").show();
                          }
                      }
                  });
            });

        });

        //calculate data using ajax
        $("#calcButton").click(function () {
          let form = $(this).closest("form");
          // check if the input is valid using a 'valid' property
           let validation = validate_empty();
           console.log(validation);
           if(!validation) {
               $(".message-warning").html("All fileds are required!!").fadeIn().delay(3000).fadeOut();
                $(".message-warning").show();
                return false;
           } else {
               $(".message-warning").hide();
           }
            $.ajax({
                    type: 'POST',
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        const obj = response['responseList'];
                        const newHTML = [];
                        $.each(obj, function(key,value) {
                            newHTML.push('<span>' + value + '</span><br>' );
                        });
                        newHTML.push('<span>' + response.averageText + '</span><br>');

                        $(".message").html(newHTML.join(""));
                        $(".message").show();
                }
            });
        });

        //validating empty values
        function validate_empty() {
            let nameArr = [];
            let amountArr = [];
            let validation = true;
            $("input[name=\"name[]\"]").map(function() {
                    nameArr.push(this.value);
            });
            $("input[name=\"amount[]\"]").map(function() {
                    amountArr.push(this.value);
            });

            let nameArraySet = new Set(nameArr);
            let amountArraySet = new Set(amountArr);
            console.log(nameArraySet);
            if(nameArraySet.has('') || amountArraySet.has('')) {
                validation = false
            }
            return validation;
        }
  </script>

{% endblock %}