{% extends 'base.html' %}

{% block content %}

        <div class="row">
            <div class="col-md-12 col-lg-9">
                <form data-url="{% url urlName %}" id="formCalculation">
                    {% csrf_token %}

                    <!-- Form Name -->
                    <legend><center><b>Welcome</b></center></legend>

                  <div id="container">
                      
                      <div class="alert alert-success message mt-2" role="alert" style="display: none">
                      </div>
                      <div class="alert alert-warning message-warning mt-2" role="alert" style="display: none">
                      </div>
                      
                      <div>
                        <span class="badge badge-info">{{ badge_name }}</span>
                      </div>
                      <br>
                      <div class="form-row">
                            <div class="form-group col-5 col-sm-5 col-md-5">
                                <label for="email"><b>Total Unit</b></label>
                            </div>
                            <div class="form-group col-5 col-sm-5 col-md-5">
                              <input type="number" pattern="[0-9]*" inputmode="numeric" class="form-control unit" name="unit" placeholder="Unit" autocomplete="off">
                              <input type="hidden" name="itemStr" value="{{itemStr}}">
                            </div>
                      </div>
                      

                  </div>
                  <button type="button" class="btn btn-success btn-sm" id="calcButton">Calculate</button>
                </form>
            </div>
	    </div>

    </div>
<!-- End Page Content -->
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            //total unit validation
            $(document).on('change', '.unit',function () {
                  let unit = $(this).val();
                  $.ajax({
                      type: 'POST',
                      url: '{% url "validate_unit" %}',
                      data: {'unit': unit, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                      dataType: 'json',
                      success: function (response) {
                          if(response.type) {
                              $(".message-warning").html(response.message).fadeIn().delay(3000).fadeOut();
                              $(".message-warning").show();
                          }
                      }
                  });
            });

        });

        //calculate data using ajax
        $("#calcButton").click(function () {
            //variable declaration
            let form = $(this).closest("form");
           
            $.ajax({
                    type: 'POST',
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        const obj = response['responseList'];
                        const newHTML = [];
                        $.each(obj, function(key,value) {
                            newHTML.push('<span>' + value + '</span><br>' );
                        });

                        $(".message").html(newHTML.join(""));
                        $(".message").show();
                }
            });
        });
  </script>

{% endblock %}