{% extends 'base.html' %}

{% load static %}
{% static "images" as baseUrl %}

{% block content %}

  <div class="row">
    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='carrotandcelery'">
            <img src="{% static 'images/background.jpg'%}" alt="Background" class="img-fluid mx-auto d-block">
            <div class="overlay green">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fas fa-carrot fa-2x"></i></p>
                        <p>Carrot & Celery</p>
                    </div>
                </div>
            </div>	
        </div>
    </div>
    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='carrotbattons'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="overlay darkblue  ">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fas fa-carrot fa-2x"></i></p>
                        <p>Carrot Battons</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>
    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='carrotcurls'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="overlay gold">
                    <div class="text text-white text-center">
                        <div>
                            <p><i class="fas fa-carrot fa-2x"></i></p>
                            <p>Carrot Curls</p>
                        </div>
                    </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='entertainmentpack'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="pink overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fas fa-comment-slash fa-2x"></i></p>
                        <p>Entertainment Pack</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='zucchini'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="green overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fas fa-lemon fa-2x"></i></p>
                        <p>Zucchini</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='dicedpumpkin'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="darkblue overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fas fa-apple-alt fa-2x"></i></p>
                        <p>Diced Pumpkin</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='cauliflowerrice'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="gold overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fas fa-bahai fa-2x"></i></p>
                        <p>Cauliflower Rice</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='coleslaw'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="pink overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fab fa-creative-commons-sampling-plus fa-2x"></i></p>
                        <p>Coleslow W/SP Onion</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='shreddedkale'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="green overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fas fa-cannabis fa-2x"></i></p>
                        <p>Shredded Kale</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='stirfry'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="darkblue overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fab fa-canadian-maple-leaf fa-2x"></i></i></p>
                        <p>Stir Fry</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='beetroot'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="gold overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fas fa-cannabis fa-2x"></i></p>
                        <p>Beetroot Noodles</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='asianmix'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="pink overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fab fa-centos fa-2x"></i></p>
                        <p>Asian Mix</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

    <div class="col-4 col-md-3 col-sm-6">
        <div class="context" onclick="location.href='mixcapsicum'">
            <img src="{% static 'images/background.jpg'%}" alt="" class="img-fluid mx-auto d-block">
            <div class="green overlay">
                <div class="text text-white text-center">
                    <div>
                        <p><i class="fas fa-pepper-hot fa-2x"></i></p>
                        <p>Mix Capsicum</p>
                    </div>
                </div>
            </div>
        </div>	
    </div>

</div>
<!-- End Page Content -->
{% endblock %}