{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-4 col-md-3 col-sm-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-center block">
            <!-- centered content here -->
            <i class="fas fa-carrot"></i> <a href="carrotandcelery">Carrot & Celery</a>
        </div>
    </div>
    <div class="col-4 col-md-3 col-sm-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-center block">
            <!-- centered content here -->
            <i class="fas fa-carrot"></i> <a href="#">Carrot Battons</a>
        </div>
    </div>

    <div class="col-4 col-md-3 col-sm-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-center block">
            <!-- centered content here -->
            <i class="fas fa-carrot"></i> <a href="#">Carrot Curls</a>
        </div>
    </div>

    <div class="col-4 col-md-3 col-sm-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-center block">
            <!-- centered content here -->
            <i class="fas fa-pepper-hot"></i> <a href="#">Capsicum</a>
        </div>
    </div>

    <div class="col-4 col-md-3 col-sm-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-center block">
            <!-- centered content here -->
            <i class="fas fa-lemon"></i> <a href="#">Zuchhini</a>
        </div>
    </div>

    <div class="col-4 col-md-3 col-sm-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-center block">
            <!-- centered content here -->
            <i class="fas fa-apple-alt"></i> <a href="#">Diced Pumpkin</a>
        </div>
    </div>

    <div class="col-4 col-md-3 col-sm-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-center block">
            <!-- centered content here -->
            <i class="fas fa-apple-alt"></i> <a href="#">Cauliflower Rice</a>
        </div>
    </div>

    <div class="col-4 col-md-3 col-sm-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-center block">
            <!-- centered content here -->
            <i class="fas fa-apple-alt"></i> <a href="#">Coleslow Onion</a>
        </div>
    </div>

    <div class="col-4 col-md-3 col-sm-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-center block">
            <!-- centered content here -->
            <i class="fas fa-apple-alt"></i> <a href="#">Shredded Kale</a>
        </div>
    </div>
    
  </div>
<!-- End Page Content -->
{% endblock %}